.three-column-layout {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }
  
  .dashboard-column {
    flex: 1;
    padding: 30px;
    
    border-radius: 8px;
    background: #1D1D1D;
 

  }
  
  .dashboard-column h2 {
    margin-bottom: 10px;
  }
  
  .wallet-points-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  