.swap-container {
  max-width: 400px;
  border: 10px solid #ffffff65;    
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Technoma", sans-serif;
}
.swap-container h2 {
  font-size: 24px;
  margin-bottom: 0px;
  color: #dfdfdf;
 
}

.balance-display {
  margin-bottom: 20px;
  font-size: 22px;
  color: #e1e1e1;
}

.swap-input {
  margin-bottom: 20px;
  color: #ffffff;
}


.swap-container p {
  font-size: 22px;
  color: #dcdcdc;
  margin-top: 10px;
}

.input3 {
  width: 100%;
  padding: 8px; /* Reduced padding for a more compact look */
  margin: 10px 0; /* Keep vertical margin */
  border-radius: 6px; /* 6px border radius */
  background: rgb(255, 255, 255); /* Slightly transparent background */
  color: #000000; 
  border: none; /* Remove border color */
  transition: background-color 0.3s;
}

.input::placeholder {color:black;}





button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.swap-container button + button {
  margin-top: 10px;
}

