.swap-container {
  max-width: 400px;
  border: 6px solid #ffffff65;    
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Technoma", sans-serif;
}

.swap-container h2 {
  font-size: 24px;
  margin-bottom: 0px;
  color: #dfdfdf;
 
}

.balance-display {
  margin-bottom: 20px;
  font-size: 22px;
  color: #e1e1e1;
}

.swap-input {
  margin-bottom: 10px;
  color: #ffffff;
}


.switch-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding:03px;
  background-color: #1D00AA;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.switch-button:hover {
  background-color: #EF10FFE1;
  color:white;
}

.swap-container p {
  font-size: 20px;
  color: #dcdcdc;
  margin-top: 5px;
}

.input3 {
  width: 50%;
  padding: 6px; /* Reduced padding for a more compact look */
  margin: 5px 0; /* Keep vertical margin */
  border-radius: 12px; /* 6px border radius */
  background: rgb(255, 255, 255); /* Slightly transparent background */
  color: #000000; 
  border: none; /* Remove border color */
  transition: background-color 0.3s;
}

.input::placeholder {color:black;}





button:disabled {
  background-color: #1D00AA;
  cursor: not-allowed;
  color:white;
}

.swap-container button + button {
  margin-top: 10px;
}

